/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */

:root {
  --theme-lightcyan: hsl(174, 77%, 80%);
  --theme-darkcyan: hsl(174, 86%, 45%);
  --theme-lightred: hsl(15, 100%, 70%);
  --theme-greyred: hsl(14, 92%, 95%);
  --theme-paleblue: hsl(226, 100%, 87%);
  --theme-verypaleblue: hsl(230, 100%, 99%);
  --theme-lightgreyblue: hsl(223, 50%, 87%);
  --theme-lightergreyblue: hsl(224, 65%, 95%);
  --theme-greyblue: hsl(225, 20%, 60%);
  --theme-darkblue: hsl(227, 35%, 25%);
}

body {
	padding: 25px;
	background-image: url(./images/bg-pattern.svg);
	background-repeat: no-repeat;
	background-size: calc(max(100%, 1440px)) 50vh;
	background-color: var(--theme-lightergreyblue);
	font-family: "Manrope";
}

.calc {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 35px;
	padding: 40px 25px;
	background-color: white;
	border-radius: 10px;
	font-size: 0.8rem;
}

.calc__button {
	font-family: "Manrope";
	font-weight: 800;
	font-size: 0.8rem;
	background-color: var(--theme-darkblue);
	border: none;
	color: var(--theme-lightgreyblue);
	padding: .75rem 3rem;
	border-radius: 2rem;
	cursor: pointer;
}

.calc__button:hover {
	color: var(--theme-lightergreyblue);
}

.calc__discount {

}

.calc__hr {
	border: solid 1px var(--theme-lightergreyblue);
	width: 100%;
}

.calc__label {

}

.calc__label--monthly {

}

.calc__label--yearly {

}

.calc__offer {
	display: flex;
	align-items: center;
	gap: 15px;
}

.calc__offers {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .75rem;
}

.calc__period {

}

.calc__price {
	font-size: 2rem;
	font-weight: 800;
	color: var(--theme-darkblue);
}

.calc__rate {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: auto;
}

.calc__reduction {

}

.calc__slider {

}

.calc__tick {

}

.calc__views {
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.panel {
	display: flex;
	flex-direction: column;
	color: var(--theme-greyblue);
}

.panel__header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--theme-darkblue);
	text-align: center;
	padding: 60px 0;
	background-image: url(./images/pattern-circles.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.panel__title {
	font-size: 1.25rem;
	font-weight: 800;
	margin-bottom: 1rem;
}

.panel__subtitle {
	color: var(--theme-greyblue);
	font-size: 0.9rem;
	line-height: 1.5rem;
}

.panel__line {
	white-space: nowrap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}




.switch__checkbox { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
	border-radius: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
	border-radius: 50%;
  background-color: white;
  transition: .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.switch__checkbox:checked + .switch__slider {
  background-color: var(--theme-darkcyan);
}

.switch__checkbox:checked + .switch__slider:before {
  transform: translateX(18px);
}
